:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 200px;
  height: 200px;
}

.avatar {
  width: 150px;
  height: 150px;
}

.color-block {
  width: 90px;
  height: 30px;
  cursor: pointer;
}
